#hidden-div{
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

.canvas-container {
    display: grid;
    grid-template-columns:auto auto;  
    padding: 40px;
   
}
.canvas-container-child-line{
    padding-top: 60px;
}
.canvas {
    width: 100%;
    height: 100%;
}

.accounts-list{
    padding: 20px; 

}
.h3-inner{
    display: block;
}
.account-list-items{
    display: grid;
    grid-template-columns:auto auto auto auto;  
    padding-top: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    
}
.account-list-items > span{
    padding: 8px 4px;
    
}
a{
    text-decoration: none;
    color: black;
}
.number-of-users{
    text-align: center;
    padding: 10px 0;
}

label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin: 2px 2px 2px 2px;
}

form {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 2rem;
} 
form-login {
    text-align: center;
}
input {
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(241, 238, 238);
    border-style:groove;
    width: 300px;
    height: 35px;
    border-width: thin;
    
}

button {
    /* margin: 40px 0 0 30px; */
    width: 240px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(95, 121, 79);
    border: none;
    font-size: 20px;
    color: white;
}